*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: red; */
}
#container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ComboSection{
    height: 90vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#D6D1CB,#D6D1CB,#213F36);
    border-radius: 10px;
}
#comboCard{
    /* background-color: #6D7D78; */
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
#overplay{
    position: absolute;
    width: 62%;
    height: 35%;
    background-color:  #2a4b41b5;
    top: 0;
    margin-top: 70px;
    border-radius: 10px;
}
#image{
    height: 250px;
    width: 300px;
    object-fit: cover;
    /* margin-right: 30px; */
}
#content{
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: -150px;
    /* width: 600px; */
    padding: 50px;
}
#button{
    padding: 7px 30px;
    border-radius: 70px;
    margin-left: 70%;
}
#base{
    display: flex;
    justify-content: start;
    width: 120%;
}
.basepage{
    background-color:#D6D1CB;
    width: 100%;
}
#imageSection{
    /* height: 100px; */
    width: 100%;

}
#images{
    height: 280px;
    transition: transform 0.2s ease-in-out;

}
#images:hover{
    transform: scale(1.05);
}
