#home .heroBackground {
  background-image: url("../../../image/hero_background.png");
  position: relative;
}
.heroBackground h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 43.2px;
  color: #543e2a;
}
.heroBackground h2 {
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
}
.heroBackground p {
  font-size: 17px;
  margin-top: 10px;
  line-height: 25px;
  font-weight: 500;
  color: #000000c2;
}
.heroSocialcontent {
  position: absolute;
  right: 120px;
  top: 20px;
  display: flex;
}

.homeSectionslider .owl-stage-outer{
  border-radius: 50px;
  padding: 10px 0;
}

.homeSectionslider .owl-carousel .owl-item img{
  width: 26% !important;
}

.homeSectionslider {
  position: absolute;
  left: 120px;
}
.homeSectionslidercard {
  padding: 3px;
  border-radius: 50px;
  -webkit-box-shadow: 0 10px 5px 0px rgba(231, 231, 231, 0.301);
  -moz-box-shadow: 0 10px 5px 0px rgba(207, 207, 207, 0.856);
  box-shadow: 0 10px 5px 0px rgba(56, 56, 56, 0.233);
}

.homeSectionslidercard p {
  font-size: 17px;
  padding: 20px;
  line-height: 20px;
}
.homeSectionslidercard p::before{
  content: '"';
  left: 10px;
  font-size: 30px;
}

/* media queries */
/* for small devices */
@media(max-width:600px){
  .heroBackground h1 {
    font-size: 20px;
    line-height: 25px;
  }

  .heroBackground h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .heroBackground p {
    font-size: 15px;
  }

  .heroSocialcontent {
    right: 10px;
    top: 20px;
  }

  .heroSocialcontent img{
    width: 24px;
    margin: .3rem;
  }

  .homeSectionslider {
    left: 0 !important;
}

.homeSectionslidercard p {
  font-size: 14px;
  padding: 15px;
  line-height: 18px;
}
.homeSectionslidercard img{
  width: 120px;
}
}
